@import '../styles/common.scss';
.modal-content {
    .form-control {
        padding: 1rem;
        font-size: 1.35rem;
    }
    .form-label {
        font-size: 1.4rem;
    }
    .form-select {
        padding: 12px;
        font-size: 1.35rem;
    }
}
.modal-header {
    .modal-title {
        display: flex;
    }
    position: relative;
    .close {
        position: absolute;
        right: 8px;
        top: -7px;
        background-color: transparent;
        border: none;
        font-size: 2.5rem;
        color: #333;
        &:hover {
            opacity: 0.8;
        }
    }
}
.modal-footer {
    margin: 5px 0;
    padding-top: 15px;
    button {
        padding: 5px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 100;
    }
    .form-check-label {
        font-size: 1.3rem;
    }
}
