PORT=3000
NODE_ENV=development
REACT_APP_BACKEND_URL=http://localhost:8085
ACCESS_TOKEN_SECRET = access_token_booking_care_app
REFRESH_TOKEN_SECRET = refresh_token_booking_care_app

#The base URL for all locations. If your app is served from a sub-directory on your server, you'll want to set
#this to the sub-directory. A properly formatted basename should have a leading slash, but no trailing slash.
REACT_APP_ROUTER_BASE_NAME=
