.manage-info-personality-doctor {
    background: url('../../../assets/images/Chat/chat-group.jpg');
    .title-personality {
        text-align: center;
        padding: 10px 0;
        color: #45c3d2c4;
    }
    .avatar-doctor {
        img {
            height: 100px;
            width: 100px;
            border-radius: 50%;
        }
    }
}
