@font-face {
    font-family: 'Poppins-Regular-Doctor';
    src: url('../../../../assets/font/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Ubuntu-Doctor';
    src: url('../../../../assets/font/Anuphan-VariableFont_wght.ttf');
}
.section_doctors {
    height: 380px;
    padding: 25px;
    background-color: #f5f5f5;

    .title_section {
        font-size: 24px;
        padding: 15px 0px 20px 0px;
        margin-left: 10px;
    }
    .specialty_content {
        cursor: pointer;
        a {
            height: 245px;
            text-align: center;
            padding: 10px 5px;
        }
        .img-border {
            width: 120px;
            height: 120px;
            margin: auto;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    h3 {
        font-family: 'Poppins-Regular-Doctor', sans-serif;
        margin: 20px 4px;
        font-size: 1.5rem;
        outline: none;
        user-select: none;
    }
    h5 {
        font-size: 13.5px;
        margin-top: 8px;
        font-family: 'Ubuntu-Doctor';
        font-style: italic;
    }
    .slick-slider {
        margin: 5px;
    }
    .slick-slide {
        div {
            margin-right: 4px;
        }
    }
    .wrapper {
        width: 278px;
        border: 1px solid rgb(225, 223, 223);
        margin-left: 4px;
        height: 256px;
        &:hover h3 {
            color: #42b6c9;
        }
    }
    .slick-next {
        right: 30px !important;
        &:before {
            font-size: 32px !important;
        }
    }
    .slick-prev {
        left: 2px !important;
        z-index: 5;
        &:before {
            font-size: 32px !important;
        }
    }
}
