html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}
body {
    margin: 0;
    padding: 0;
    overflow-y: overlay;
    // For Google Chrome
    &::-webkit-scrollbar {
        width: 8px;
        background-color: transparent;
        &:hover {
            width: 10px;
            cursor: pointer;
        }
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #e4e4e4;
        border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #979797;
        border-radius: 5px;
    }
}
